h1, h2 {
    text-align: center;
}

#content {
    margin: 2vw;
    width: 95vw;
    height:95vh;
}
.border {
    border-radius: 15px;
}
.tweet {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.remove-tweet,
.remove-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}